.vector {
  height: 125px;
  display: flex;
  margin-right: 25px;
  align-items: last baseline;
  .vector__img {
    height: 60px;
    width: 60px;
    color: #fff;
  }
}
@media screen and (max-width: 520px) {
  .vector {
    display: none;
  }
}
